* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(39, 6, 69);
}

/*HEADER E NAV*/
header {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background-color: rgb(39, 6, 69);
    position: fixed;
    box-shadow: 0 0 5px rgb(19, 1, 35);
    z-index: 1;
}

#clicou {
    display: none;
}

.inicio {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
}

.outer {
    display: flex;
    justify-content: space-between;
}

nav {
    align-self: center;
}

.botoes-nav {
    align-content: flex-end;
    padding: 15px;
    color: white;
    border-radius: 10px;
    background-color: rgb(61, 15, 103);
}

.menu-btn,
#clicou {
    display: none;
}

#home {
    opacity: 0.8;
}

#home:hover {
    opacity: 1;
    transition: 0.5s;
}

#home:not(:hover) {
    transition: 0.3s;
}

.btn {
    align-content: flex-end;
    padding: 15px;
    color: white;
    border-radius: 10px;
    background-color: blueviolet;
    font-size: 1.2rem;
}

.botoes-nav:hover {
    background-color: blueviolet;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(39, 6, 69);
    transition: 0.3s;
}

.botoes-nav:not(:hover),
.btn:not(:hover) {
    transition: 0.3s ease-in-out;
}

.botoes-nav:active,
.btn:active {
    background-color: rgb(196, 52, 253);
}

#atual {
    background-color: blueviolet;
}


.botoes-side {
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: blueviolet;
    font-size: 1.2rem;
}


/*PÁGINA INICIAL*/

/*HERO*/

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 7vh;
    margin-bottom: 15px;
}

.hero h3 {
    font-size: 5vh;
    margin-bottom: 15px;
    text-align: center;
}

.hero hr {
    width: 200px;
    height: 3px;
    border: none;
    background-color: white;
}

/*SOBRE*/

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 50px;
    color: rgb(39, 6, 69);
}

.sobre h2,
.sobre-receitas h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}


.sobre-receitas img {
    border-radius: 10px;
}

.sobre i,
.sobre-receitas i {
    font-size: 2rem;
    padding: 0 30px;
    margin-bottom: 30px;
}

.sobre p,
.sobre-receitas p {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.sobre hr,
.sobre-receitas hr {
    width: 200px;
    height: 3px;
    border: none;
    background-color: rgb(39, 6, 69);
}

.sobre-receitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    margin: 0px 50px;
    margin-bottom: 100px;
    color: rgb(39, 6, 69);
}

.index-receitas {
    margin: 0px 20px;
    margin-top: 15px;
}

.index-receitas:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.index-receitas:not(:hover) {
    transition: .2s ease-in-out;
}

.receitas-home {
    display: flex;
    flex-wrap: wrap;
}

.receitas-home span {
    margin: 15px 0px;
}


/*FOOTER*/
footer {
    display: flex;
    background-color: rgb(39, 6, 69);
    color: white;
    justify-content: space-between;
    padding: 25px 10px;
    margin-top: 70px;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(196, 52, 253);
    transition: 0.5s;
}

footer a:not(:hover) {
    transition: 0.5s;
}

footer .footer-esquerda {
    padding-top: 10px;
    margin-right: 30px;
}

footer .footer-direita {
    padding-top: 10px;
    text-align: right;
    size-adjust: auto;
    width: fit-content;
}

footer .footer-centro {
    font-size: 2.8rem;
    padding-top: 10px;
}

footer ul {
    list-style-type: none;
}


/*HISTÓRIA*/

.hero-historia {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-historia.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-historia h1 {
    font-size: 7vh;
    margin-bottom: 15px;
}

.hero-historia h3 {
    font-size: 5vh;
    margin-bottom: 15px;
    text-align: center;
}

.hero-historia hr {
    width: 200px;
    height: 3px;
    border: none;
    background-color: white;
}

/*CARROSSEL DE IMAGENS*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgb(29, 1, 55);
}

.text {
    color: rgb(196, 52, 253);
    background-color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgb(196, 52, 253);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*FIM DO CARROSSEL*/

.historia-curiosidades li {
    font-size: 1.2rem;
    padding-bottom: 5px;
    color: rgb(39, 6, 69)
}

.historia-curiosidades li a:hover {
    color: rgb(196, 52, 253);
    transition: 0.2s;
}

.historia-curiosidades li a:not(:hover) {
    transition: .2s;
}

.historia-curiosidades {
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
    padding-bottom: 0px;
    text-align: center;
    color: rgb(39, 6, 69)
}

.historia-curiosidades h2 {
    font-size: 2.5rem;
    text-align: center;
}


.historia-curiosidades-sec-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1.2rem;
    margin: auto;
}

.historia-curiosidades-sec-1 p {
    width: 400px;
}

.historia-curiosidades hr {
    margin-top: 15px;
    align-self: center;
    width: 200px;
    height: 3px;
    border: none;
    background-color: rgb(39, 6, 69);
}

.historia-curiosidades i {
    padding: 0 30px;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

.historia-curiosidades img {
    border-radius: 15px;
}

.historia-curiosidades table {
    border-collapse: collapse;
    align-self: center;
    font-size: 1.2rem;
}

.historia-curiosidades table th,
td {
    border: 2px solid rgb(39, 6, 69);
    padding: 5px;
}

#index {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: auto;
}


/*#### CURIOSIDADES #####*/

/*HERO*/

.hero-curiosidades {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-curiosidades.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-curiosidades h1 {
    font-size: 7vh;
    margin-bottom: 15px;
    align-self: center;
}

.hero-curiosidades h3 {
    font-size: 5vh;
    margin-bottom: 15px;
    text-align: center;
}

.hero-curiosidades hr {
    width: 200px;
    height: 3px;
    border: none;
    background-color: white;
}

/*####### RECEITAS ###########*/
/*HERO*/

.hero-receitas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-receitas.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-receitas h1 {
    font-size: 7vh;
    margin-bottom: 15px;
}

.hero-receitas h3 {
    font-size: 5vh;
    margin-bottom: 15px;
    text-align: center;
}

.hero-receitas hr {
    width: 200px;
    height: 3px;
    border: none;
    background-color: white;
}

/*Lista de receitas*/

.receitas {
    display: flex;
    flex-direction: column;
    margin: 100px 30px;
    margin-bottom: 0px;
    align-items: center;
    color: rgb(39, 6, 69);
    text-align: center;
}

.receitas img {
    border-radius: 10px;
}

.receitas h2 {
    font-size: 5.5vh;
    text-align: center;
    align-self: center;
}

.receitas i {
    font-size: 5vh;
    padding-top: 30px;
}

.receitas hr {
    margin-top: 15px;
    align-self: center;
    width: 200px;
    height: 3px;
    border: none;
    background-color: rgb(39, 6, 69);
    z-index: -1;
}

.receitas a:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.receitas a:not(:hover) {
    transition: .2s ease-in-out;
}


.receita {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    gap: 30px;
    font-size: 1.2rem;
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin-bottom: 30px;
}

/*PÁGINA INDIVIDUAL DE RECEITAS*/

.intrucoes {
    margin: 130px 50px;
    display: flex;
    flex-direction: column;
    color: rgb(39, 6, 69);
    padding-bottom: 0;
}

.intrucoes img {
    width: fit-content;
}

#pagina-atual-receitas {
    background-color: rgb(122, 40, 198);
}

#pagina-atual-receitas:hover {
    background-color: blueviolet;
}

.intrucoes h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.intrucoes ul,
ol {
    margin-bottom: 20px;
}

.intrucoes li {
    font-size: 1.1rem;
}

.ingredientes-detalhes {
    display: flex;
    gap: 50px;
}

.receita-titulo-subtitulo {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 80px;
}

.receita-titulo-subtitulo img {
    width: 300px;
}

.receita-titulo-subtitulo h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.receita-titulo-subtitulo p {
    font-size: 1.4rem;
}

/* ######## QUIZ ##########*/
.hero-quiz {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-quiz.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-quiz h1 {
    font-size: 7vh;
    margin-bottom: 15px;
    text-align: center;
}

.hero-quiz h3 {
    font-size: 5vh;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.hero-quiz hr {
    width: 200px;
    height: 3px;
    border: none;
    background-color: white;
}

.quiz {
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
    margin-bottom: 0px;
    align-items: center;
    color: rgb(39, 6, 69);
}


.quiz h2 {
    font-size: 2.5rem;
    text-align: center;
}

.quiz i {
    font-size: 2rem;
    padding-top: 30px;
}

.quiz h4 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 15px;
}

.quiz hr {
    margin-top: 15px;
    align-self: center;
    width: 200px;
    height: 3px;
    border: none;
    background-color: rgb(39, 6, 69);
    z-index: -1;
}

.quiz form {
    font-size: 1.1rem;
    margin-top: 20px;
}

#botao {
    align-self: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 10px;
    background-color: rgb(196, 52, 253);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#clicou {
    display: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col {
    float: left;
    padding: 20px;
    width: 45%;
}

.jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input input {
    padding: 5px;
}

.input button {
    padding: 10px 5px;
    color: rgb(29, 1, 55);
    background-color: rgb(196, 52, 253)
}

.input button:active {
    color: rgb(196, 52, 253);
    background-color: rgb(29, 1, 55);
}

@media (max-width: 900px) {

    #botoes-inicial {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    #clicou {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 29px;
    }

    .botoes-nav-cel {
        align-content: flex-end;
        padding: 15px 0px;
        box-sizing: border-box;
        color: white;
        border-radius: 10px;
        background-color: rgb(61, 15, 103);
        padding-left: 100vh;
        padding-right: 100vh;
    }

    /*MENU QUE DESCE*/
    .mostrar {
        display: flex;
        height: 90px;
    }

    /*BOTÃO HAMBURGUER*/

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        margin-right: 0px;
        margin-bottom: auto;
    }

    .menu-btn__burger {
        width: 25px;
        height: 4px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgb(29, 1, 55);
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        position: absolute;
        content: '';
        width: 25px;
        height: 4px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgb(29, 1, 55);
    }

    .menu-btn__burger::before {
        transform: translateY(-10px);
    }

    .menu-btn__burger::after {
        transform: translateY(10px);
    }

    .menu-btn.open .menu-btn__burger {
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg);
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg);
        box-shadow: none;
    }


    /*NAV BAR*/
    .inicio nav {
        display: none;
    }

    /*PÁGINA INICIAL*/
    .sobre i,
    .sobre-receitas i {
        font-size: 2rem;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .sobre-receitas {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .receitas-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /*HISTÓRIA*/
    .img-mirtilo {
        display: none;
    }

    /*HISTÓRIA CURIOSIDADES*/
    .historia-curiosidades-sec-1 img {
        width: 300px;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }

    .historia-curiosidades-sec-1 p {
        width: auto;
    }

    .inverte {
        display: flex;
        flex-direction: column-reverse;
    }

    /*RECEITAS*/
    .receita {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .receita-titulo-subtitulo {
        display: flex;
        flex-direction: column;
    }

    .ingredientes-detalhes {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .receita-titulo-subtitulo img {
        width: 300px;
    }

}